# Ignorar credenciais
config.py

# Ignorar arquivos de cache e compilação
__pycache__/
*.py[cod]
*.log

# Ignorar notebooks temporários
.ipynb_checkpoints/

# Ignorar ambientes virtuais
.env/
.venv/
env/
ENV/

# Ignorar arquivos do sistema operacional
.DS_Store
Thumbs.db
